@charset "UTF-8";

/* 一番外側のボックス */
div {
    width: 600px;
    margin: 0 auto;
    border: 4px solid orange;
    padding: 20px;
    line-height: 160%;
}

/* 内包ボックスのボーダー */
h2, dl, p, a {
    border: 1px solid orange;
}

/* 見出し */
h2 {
    font-size: 20px;
    border-bottom: none;
    padding: 10px;
    margin: 0;
    background: #ffd396;
}

/* 定義リスト */
dl {
    margin: 0 0 25px 0;
    padding: 10px;
}

dt {
    border-bottom: 1px dashed orange;
}

dd {
    margin: 0 0 10px 10px;
}

/* 自己PR本文 */
p {
    margin: 0 0 25px 0;
    padding: 10px;
}

/* ボタン風リンク */
a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    background: #ffe7b5;
}