@charset "UTF-8";

/**
 * Index
 *
 * トップページ用のスタイルを記載します
 *
 * @project  CodeCamp Documents
 * @version  1.0
 * @author
 * @update
 */


/**
 * Structure
 */
.structTop {
    width: 100%;
    height: auto;
    margin-top: 1px;
 }

.structBottom{
    display: flex;
}

.structLeft{
    width: 200px;
}
.structCenter{
    width: 565px;
    padding: 0 20px;
}
.structCenter .section{
    padding-bottom: 8px;
}
.structRight{
}


/**
 * New Recipes Section
 */
.newRecipes ul{
    width: 100%;
    margin: 5px auto;

    display: flex;
    justify-content:space-around;
}
.newRecipes li{
    text-align: center;
    padding: 5px;
}
.newRecipes li img{
    width: 80px;
    height: auto;
}
.newRecipes li a{
    color: #000000;
    font-size: 0.8em;
    text-decoration: none;
}
.newRecipes li figcaption{
    font-size: 0.4em;
}


/**
 * Recipes Category Section
 */
.recipesCategory li a{
    display: block;
    height: 36px;
    padding-left: 26px;
    line-height: 36px;
    border-top: 1px dotted #cccccc;
    color: #000000;
    text-decoration: none;
    background: url( ../images/icon/arrow.png) no-repeat 3px center;
}
.recipesCategory li a:hover{
    background-color: #f5ece7;
}
.recipesCategory li:first-child a{
    border-top: none;
}

.waRecipes .content-text{
    width: 280px;
    padding: 0 10px 10px 10px;
}

.flex{
    display: flex;
}

.waRecipes img {
    height: 100%;
}


/**
 *  Push Recipies Section
 */
.pushRecipes li:not(:first-child){
    display: block;
    margin-top: 5px;
}

.pushRecipes .content-text{
    width: 280px;
    padding: 0 10px 10px 10px;
}

.pushRecipes img {
    height: 100%;
}


/**
 *  Advert Section
 */
.advert{
    margin: 16px auto;
}
